$black: hsl(0, 0, 30);
$lightgrey: hsl(0, 0, 90);
$grey: hsl(0, 0, 75);
$darkgrey: hsl(0, 0, 50);
$white: #FFFFFF;

$lightgreen: hsl(168, 59, 70);
$darkgreen: hsl(168, 59, 40);

$lightorange: hsl(16, 41, 74);
$darkorange: hsl(16, 41, 54);

$lightblue: hsl(201, 41, 74);
$darkblue: hsl(201, 41, 54);

$lightyellow: hsl(45, 51, 74);
$darkyellow: hsl(45, 51, 54);